<div class="card">
  <div class="card-img">
    <img [src]="pet?.fotos?.[0]?.url || 'assets/images/pet-placeholder.png'" [alt]="pet?.nome" />
  </div>

  <div class="card-header">
    <h2>{{ pet?.nome }}</h2>
    <div class="pet-status">
      <span class="status-badge">{{ pet?.statusAdocao }}</span>
    </div>

    <ul class="pet-details">
      <li>Idade: {{ pet?.idade }} anos</li>
      <li>Raça: {{ pet?.raca }}</li>
      <li>Sexo: {{ pet?.sexo }}</li>
      <li>Vacinado: {{ pet?.vacinado ? 'Sim' : 'Não' }}</li>
    </ul>
  </div>

  <footer class="card-actions">
    <button class="infos">
      Mais informações
      <span class="material-icons">arrow_forward</span>
    </button>

    <button class="favorite">
      <span class="material-icons">favorite</span>
    </button>
  </footer>
</div>
