<div class="card">
  <div class="card-img">
    <img src="#" [alt]="" />
  </div>

  <div class="card-header">
    <h2>Nome do Pet</h2>
  </div>

  <div class="card-informations">
    <ul>
      <li>Idade: 2 anos</li>
      <li>Raça: Vira-Lata</li>
      <li>Sexo: Macho</li>
      <li>Vacinado: Sim</li>
    </ul>
  </div>

  <footer class="card-actions">
    <button class="infos">
      Mais informações
      <span class="material-icons">keyboard_arrow_right</span>
    </button>

    <button class="favorite">
      <span class="material-icons">favorite</span>
    </button>
  </footer>
</div>
