<div class="card">
  <div class="card-img">
    <img [src]="pet?.imageUrl" [alt]="pet?.name" />
  </div>

  <div class="card-header">
    <h2>{{ pet?.name }}</h2>
  </div>

  <div class="card-informations">
    <ul>
      <li>Idade: {{ pet?.age }}</li>
      <li>Raça: {{ pet?.breed }}</li>
      <li>Sexo: {{ pet?.gender }}</li>
      <li>Vacinado: {{ pet?.isVaccinated ? 'Sim' : 'Não' }}</li>
    </ul>
  </div>

  <footer class="card-actions">
    <button class="infos">
      Mais informações
      <span class="material-icons">arrow_forward</span>
    </button>

    <button class="favorite">
      <span class="material-icons">favorite</span>
    </button>
  </footer>
</div>
