@use '../../../../styles/mixins' as *;

//Estilização do corpo do Card

.card {
  @include card-style;
  @include flex-column;
  @include card-hover;

  .card-img {
    overflow: hidden;
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

//Estilização do conteúdo do card

