<footer class="footer">
  <div class="footer-container">
    <div class="footer-infos">
      <div class="footer-text">
        <h2>MyBuddy</h2>
        <p>Uma plataforma que conecta humanos a pets que precisam de um lar.</p>
      </div>

      <div class="social-links">
        <ul>
          <li>
            <a routerLink="/" aria-label="Instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a routerLink="/" aria-label="Linkedin">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a routerLink="/" aria-label="X">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <nav class="footer-column">
      <div class="column1">
        <h3>Sobre nós</h3>
        <ul>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Quem Somos</a>
          </li>
          <li>
            <a href="#">Dúvidas</a>
          </li>
        </ul>
      </div>

      <div class="column2">
        <h3>Fale com a gente</h3>
        <ul>
          <li>
            <a href="#">Contato</a>
          </li>
          <li>
            <a href="#">Suporte</a>
          </li>
          <li>
            <a href="#">Legal</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
