  @use '../../../../styles/mixins' as *;

  :host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
}

  .footer {
    @include flex-between;
    align-items: flex-start;
    padding: var(--spacing-xxl) var(--spacing-xxl) var(--spacing-xxxl);
    width: 100%;
    min-height: 426px;
    background-color: var(--text-color);
    box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.13);
    border-radius: 36px 36px 0 0;
  }

  .footer-infos {
    @include flex-column;
    gap: var(--spacing-md);

    h2 {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--text-color-white);
    }

    p {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: #F1F2F9;
    }

    ul {
      @include flex-start;
      list-style: none;
      padding: 0;
      position: relative;
    }
  }

  .footer-column {
    @include flex-wrap;
    list-style: none;

    h3 {
      color: var(--text-color-white);
      margin-bottom: 0;
    }

    a {
      color: #F1F2F9;
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: var(--primary-color);
      }
    }

    .column1 {
      @include flex-column;
      gap: var(--spacing-xs);
    }

    .column2 {
      @include flex-column;
      gap: var(--spacing-xs);
    }
  }


