@use '../../../../styles/mixins' as *;


.footer {
  @include flex-between;
  align-items: flex-start;
  padding: 0 var(--spacing-xxl) var(--spacing-xxxl);
  width: 100%;
  background-color: var(--text-color);
  box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.13);
  border-radius: 36px 36px 0 0;
}


.footer-container {
  @include flex-between;
  align-items: flex-start;
  padding: var(--spacing-xxl) 0;
  gap: var(--spacing-xxxl);
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-text {
  @include flex-column;
  gap: var(--spacing-xs);
}

.footer-infos {
  @include flex-column;
  gap: 56px;

  h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-white);
    margin: 0;
  }

  p {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: #f1f2f9;
    margin: 0;
  }

  ul {
    @include flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-md);

  }
}


i {
  color: var(--primary-color);
  font-size: var(--font-size-lg);
  transition:
    color 0.2s ease,
    transform 0.2s ease;

  &:hover {
    color: #e06e00;
    transform: translateY(-2px);
  }

  &:active {
    color: #e06e00;
    transform: translateY(0);
  }
}


.footer-column {
  @include flex-start;
  gap: 40px;
  align-items: flex-start;

  h3 {
    font-weight: var(--font-weight-semibold);
    padding-bottom: var(--spacing-md);
    color: var(--text-color-white);
    margin: 0;
  }

  a {
    color: #f1f2f9;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--primary-color);
    }
  }

  .column1,
  .column2 {
    @include flex-column;
    gap: var(--spacing-xs);

    ul {
      @include flex-column;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: var(--spacing-xs);
    }
  }
}

//Estilização das medias query
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 0 var(--spacing-xl) var(--spacing-xxl);
  }

  .footer-container {
    gap: var(--spacing-xl);
  }

  .footer-column {
    gap: var(--spacing-md);
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 0 var(--spacing-lg) var(--spacing-xxl);
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xxl);
    padding: var(--spacing-xl) 0;
  }

  .footer-infos {
    gap: var(--spacing-lg);
    width: 100%;
  }

  .footer-column {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-md);
    width: 100%;
  }
}
