<section>
  <header class="header-landing-page">
    <div class="logo">
      <a routerLink="/">
        <img src="/public/assets/logo/logo-provisoria.png" alt="logo-myb" />
        <span class="logo-text">MyBuddy</span>
      </a>
    </div>

    <nav>
      <div class="quick-links">
        <ul>
          <li><a href="/">Adote um Pet</a></li>
          <li><a href="/">Parceiros</a></li>
          <li><a href="/">Blog</a></li>
        </ul>
      </div>
    </nav>

    <div class="auth btns">
      <a routerLink="/" class="btn btn-primary">Registrar-se</a>
      <a routerLink="/" class="btn btn-secondary">Login</a>
    </div>
  </header>
</section>
