<section>
  <header class="header-landing-page">
    <div class="logo">
      <a routerLink="/">
        <img src="/assets/logo/logo-provisoria.png" alt="logo-myb" class="logo-img" />
        <span class="logo-text">MyBuddy</span>
      </a>
    </div>

    <nav>
      <div class="quick-links">
        <ul (mouseleave)="resetPill()">
          <div class="sliding-pills" [class.visible]="pillVisible" [style.left]="pillStyle.left" [style.width]="pillStyle.width"></div>

          @for (link of links; track link.label; let i = $index) {
            <li>
              <a
                #navLink
                [routerLink]="['/']"
                [fragment]="link.fragment"
                [class.active]="activeLinkIndex === i"
                [class.active-hover]="hoveredIndex === i"
                [class.hover-override]="hoveredIndex !== -1 && hoveredIndex !== i"
                (mouseenter)="setHoverIndex(i, navLink)"
                (click)="setActiveLink(i, navLink)"
              >
                {{ link.label }}
              </a>
            </li>
          }
        </ul>
      </div>
    </nav>

    <div class="auth-btns">
      <a routerLink="/auth/login" class="btn btn-primary">Login</a>
      <a routerLink="/auth/cadastro" class="btn btn-secondary">Registre-se</a>
    </div>
  </header>
</section>
