@use '../../../../styles/mixins' as *;

//Estilização do corpo do header
.header {
  @include flex-between;
  padding: var(--spacing-xl) var(--spacing-md);
  background-color: rgba(244, 244, 244, 0.65);
  backdrop-filter: blur(8.75px);
  -webkit-backdrop-filter: blur(8.75px); //Adicionado para navegadores como o Safari

  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.logo-myb {
  @include flex-start;
  gap: var(--spacing-sm);
  width: 100px;
  height: 100px;

  h1 {
    font-size: var(--spacing-md);
    font-weight: var(--font-weight-bold);
  }

  .logo-myb-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

//Estilização dos links rápidos do header
.quick-links {
  @include flex-center;
  background-color: var(--surface-card);
  border-radius: var(--radius-max);
  padding: var(--spacing-xxxs) var(--spacing-xs);
  box-shadow: var(--shadow-md);
  height: 56px;

  ul {
    @include flex-center;
    list-style: none;
    gap: var(--spacing-xxs);
    padding: 0;
    position: relative;

    li {
      position: relative;
      z-index: 1;

      a {
        text-decoration: none;
        color: var(--text-color-black);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        padding: var(--spacing-xs) var(--spacing-md);
        border-radius: var(--radius-max);
        @include flex-center;
        position: relative;
        z-index: 1;
        background-color: transparent;

        &.active {
          color: var(--text-color-white);
        }

        transition: color 0.3s ease;
      }
    }
  }
}

//Pilula de destaque para o link ativo
.sliding-pills {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: var(--radius-max);
  box-shadow: var(--shadow-xs);
  z-index: 0;
  pointer-events: none;
  opacity: 0;

  transition:
    left 0.35s cubic-bezier(0.4,0,0.2,1),
    width 0.35s cubic-bezier(0.4,0,0.2,1),
    opacity 0.3s ease;

  &.visible {
    opacity: 1;
  }

}


//Estilização dos modais de perfil e notificações
.quick-btn {
  @include flex-center;
  gap: var(--spacing-md);

  .btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: var(--spacing-sm);
    background-color: var(--text-color-white);
    width: 45px;
    height: 45px;
    box-shadow: var(--shadow-md);

    @include flex-center;

    .material-icons {
      font-size: var(--font-size-lg);
      color: var(--text-color-black);
    }
  }

  .profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
