@if (showHeader) {
  <section>
    <header class="header">
      <div class="logo-myb">
        <img src="/assets/logo/logo-provisoria.png" alt="logo-mybuddy" class="logo-myb-img style" />
        <h1>MyBuddy</h1>
      </div>

      <nav>
        <div class="quick-links">
          <ul (mouseleave)="resetPill()">
            <div class="sliding-pills" [class.visible]="pillVisible" [style.left]="pillStyle.left" [style.width]="pillStyle.width"></div>

            @for (link of links; track link.path; let i = $index) {
              <li>
                <a
                  #navLink
                  [routerLink]="link.path"
                  routerLinkActive="active"
                  [class.active-hover]="hoveredIndex === i"
                  [class.hover-override]="hoveredIndex !== -1 && hoveredIndex !== i"
                  (mouseenter)="setHoverIndex(i, navLink)"
                  (click)="onLinkClick(navLink)"
                >
                  {{ link.label }}
                </a>
              </li>
            }
          </ul>
        </div>
      </nav>

      <div class="quick-btn">
        @if (userRole === 'ROLE_ADMIN' || userRole === 'ROLE_ONG' || userRole === 'ROLE_PETSHOP') {
          <div class="panel-btn" style="margin-right: 12px; display: flex; align-items: center;">
            <button class="btn" [routerLink]="panelRoute" title="Acessar Meu Painel" style="background-color: var(--primary-color); color: white; border: none; border-radius: 50%; width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; cursor: pointer; transition: background-color 0.2s;">
              <span class="material-icons">dashboard</span>
            </button>
          </div>
        }

        <div class="notifications-btn">
          <button class="btn btn-notifications">
            <span class="material-icons">notifications</span>
          </button>
        </div>

        <div class="profile-btn">
          <button class="btn btn-profile" routerLink="/perfil">
            <span class="material-icons">person</span>
          </button>
        </div>
      </div>
    </header>
  </section>
}
