<section>
  <header class="header">
    <div class="logo-myb">
      <img src="/assets/logo/logo-provisoria.png" alt="logo-mybuddy" class="logo-myb-img style" />
      <h1>MyBuddy</h1>
    </div>

    <nav>
      <div class="quick-links">
        <ul>
          <li>
            <a class="active" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/pets" routerLinkActive="active">Adotar</a>
          </li>
          <li>
            <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
          </li>
          <li>
            <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
          </li>
          <li>
            <a routerLink="/sobre" routerLinkActive="active">Comunidade</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="quick-btn">
      <div class="notifications-btn">
        <button class="btn btn-notifications">
          <span class="material-icons">notifications</span>
        </button>
      </div>

      <div class="profile-btn">
        <button class="btn btn-profile">
          <span class="material-icons">person</span>
        </button>
      </div>
    </div>
  </header>
</section>

<router-outlet></router-outlet>
