<section>
  <header class="header">
    <div class="logo-myb">
      <img src="/assets/logo/logo-provisoria.png" alt="logo-mybuddy" class="logo-myb-img style" />
      <h1>MyBuddy</h1>
    </div>

    <nav>
      <div class="quick-links">
        <ul>
          <div class="sliding-pills" [class.visible]="pillVisible" [style.left]="pillStyle.left" [style.width]="pillStyle.width"></div>

          @for (link of links; track link.path) {
            <li>
              <a #navLink [routerLink]="link.path" routerLinkActive="active" (click)="onLinkClick(navLink)">
                {{ link.label }}
              </a>
            </li>
          }
        </ul>
      </div>
    </nav>

    <div class="quick-btn">
      <div class="notifications-btn">
        <button class="btn btn-notifications">
          <span class="material-icons">notifications</span>
        </button>
      </div>

      <div class="profile-btn">
        <button class="btn btn-profile">
          <span class="material-icons">person</span>
        </button>
      </div>
    </div>
  </header>
</section>

<router-outlet></router-outlet>
