@use '../../../../styles/mixins' as *;

.error-page-container {
  @include flex-center;
  min-height: 500px;
  width: 100%;
  padding: var(--spacing-md);
  background-color: var(--surface-ground);
}

.error-content-card {
  @include flex-center;
  flex-direction: column;
  background-color: var(--surface-card);
  border-radius: var(--radius-xxl);
  box-shadow: var(--shadow-xl);
  padding: var(--spacing-xl) var(--spacing-xl);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.error-visual {
  margin-bottom: var(--spacing-lg);

  .error-code {
    font-size: calc(var(--font-size-xl) * 3);
    font-weight: var(--font-weight-black);
    color: var(--primary-color);
    margin: 0;
    line-height: 1;
    letter-spacing: -2px;
  }

  .error-icon {
    font-size: calc(var(--font-size-xl) * 3.5);
    color: var(--primary-color);
  }
}

.error-text {
  margin-bottom: var(--spacing-xl);

  .error-title {
    color: var(--text-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-sm);
  }

  .error-description {
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
    line-height: 145%;
    margin: 0;
  }
}

.error-action {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  border-radius: var(--radius-max);
  padding: var(--spacing-sm) var(--spacing-lg);
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transition: opacity 0.2s cubic-bezier(0.4,0,0.2,1), transform 0.1s (0.4,0,0.2,1), box-shadow 0.2s(0.4,0,0.2,1);

  &:hover {
    opacity: 0.9;
    box-shadow: var(--shadow-lg);
  }

  &:active {
    transform: scale(0.98);
  }
}
