*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: rgb(67, 49, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}