/*  Reset CSS e Estilização Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #f4f4f4;
    color: #1a1a1a;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/* Estilização do Header */

.main-header{
    background-color: rgba(245, 244, 244, 0.5);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container-header{
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}

.logo img {
    width: 80px;
    height: auto;
    object-fit: contain;
    margin-left: 0px;
}

.nav-links {
    display: flex;
    gap: 30px;
    font-weight: 500;
}

.nav-links a {
    padding: 8px 0;
    position: relative;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: transparent;
    color: #FF7B00;
}

.buttons-logins {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-login {
    background: #dfdfdf;
    padding: 6px 14px;
    color: #1E1E1E !important;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.btn-signup {
    background-color: #FF7B00;
    color: white !important;
    padding: 6px 14px;
    border-radius: 50px;
    font-weight: 600;
    transition: transform 0.3s ease;
}


/* Estilização do Hero */

.hero {
    position: relative;
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 120px 6%;
}

.hero-image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
   filter: brightness(50%);
   border-radius: 0 0 48px 48px;
}

.hero-content {
    max-width: 1200px;
    width: 100%;
    z-index: 10;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
    margin-left: 10px;
}

.hero-content h1 {
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: 700;
    line-height: 1.3;
    max-width: 700px;
    text-shadow: 4px 5px 10.3px rgba(0, 0, 0, 0.25);
}

.hero-content p {
    font-size: 1.125rem;
    max-width: 500px;
    margin-top: 6px;
    font-weight: 500;
    line-height: 1.6;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-cta .btn-primary {
    background-color: #FF7B00;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.hero-cta .btn-primary:hover {
    background-color: #e66a00;
    transform: translateY(-3px);
}

/* Estilização de Destaques */

.highlight {
    color: #FF7B00;
    font-weight: 700;
}

/* Estilização dos Cards de Serviços */

.services {
    padding: 80px 5%;
    background-color: #f4f4f4;
    width: 100%;
}

.header-services {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px;
    width: 100%;
}

.header-services h2 {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-services p {
    color: #2C3E50;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
}

.card-service {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card-service:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 100%;
}

.card-service:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}

.card-service:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.card-service:nth-child(1) h3 {
    font-size: 2.5rem;
}

.card-service:nth-child(1) p {
    bottom: 260px;
    font-size: 0.8rem;
}

.card-service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%) blur(2px);
    transition: transform 0.5s ease;
}

.card-service h3,
.card-service p {
    position: absolute;
    color: #FFFFFF;
    left: 30px;
    right: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.card-service h3 {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-service p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.4;
    bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Efeito do Container de Parceiros */

.partners {
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    padding: 20px 5%;
}

.header-partners {
    color: #6e6e6e;
    text-align: center;
    margin-bottom: 50px;
}

.partners-logos {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.partners-logos img {
    width: 80px;
    height: auto;
    object-fit: contain;
}

/* Estilização dos Cards de Pets Disponíveis */

header.adoption {
    text-align: center;
    margin-bottom: 0px;
}

header.adoption h2 {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

header.adoption p {
    color: #2C3E50;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.container-adoption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f4f4f4;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
}

.adoption-cards {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;   
}

.card-adoption {
    background: #ffffff;
    border-radius: 35px;
    padding: 0;
    height: 440px;
    width: 270px;
    overflow: hidden;
    filter: blur(2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.card-adoption.featured {
    transform: scale(1.2);
    filter: blur(0);
    opacity: 1;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.card-adoption img {
    width: 100%;
    height: 55%;
    object-fit: cover;
}

.card-adoption.card-adoption.featured img {
    object-position: 1% 50%;
}

.card-adoption h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 20px 10px 30px;
}

.card-adoption p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 20px 15px 30px;
    line-height: 1.4;
    color: #737373;
}

.btn-information {
    display: inline-flex;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    margin: 0 20px 15px 30px;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #e3e2e2;
    width: fit-content;
    margin: 10px auto;
    padding: 8px 8px;
    border-radius: 10px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #a09f9f;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #000000;
}

.btn-view-more {
    text-align: center;
    margin: 10px auto;
}

.btn-primary {
    display: inline-flex; 
    align-items: center; 
    gap: 4px;
    color: #333e4e; 
    padding: 6px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* Estilização dos Mapas de Adoção */

.adoption-events-maps {
    padding: 100px 5%;
    background-color: #f4f4f4;
    width: 100%;
}

.container-map {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.map-content {
    flex: 1;
    text-align: left;
}

.map-content h2 {
    max-width: 450px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.map-content p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 30px;
    max-width: 450px;
    color: #666;
}

.map-content button {
    background-color: #FF7B00;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.maps-embed {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 1.5;
    border-radius: 20px;
}

/* Estilização da Seção de FAQ */

.faq-section {
    padding: 100px 5%;
    background-color: #f4f4f4;
    width: 100%;
}

.header-faq {
    text-align: center;
    margin-bottom: 60px;
}

.header-faq h2 {
    color: #1a1a1a;
    font-size: 2.5rem;
    font-weight: 700;
}

.faq-items {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    background: #ffffff;
    border-radius: 24px;
    padding: 24px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.faq-item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #191146;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item h3::after {
    content: '\e5cf';
    font-family: 'Material Symbols Rounded';
    font-size: 1.5rem;
    font-weight: 700;
    color: #FF7B00;
    border: rgb(120, 119, 118);
}

.faq-item p {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    display: none;
}

/* Estilização do Footer */

.main-footer {
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 60px 8%;
    border-radius: 48px 48px 0 0;
    margin-top: 100px;
    width: 100%;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-brand {
    max-width: 350px;
}

.footer-brand h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-brand p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: #f2f2f8;
    margin-bottom: 30PX;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons i {
    color: #FF7B00;
    font-size: 24px;
    transition: opacity 0.3s ease;
}

.linkedin-pure svg {
    color: #FF7B00;
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-column h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-column a {
    color: #f2f2f8;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #FF7B00;
}