<div class="loja-card" (click)="storeClick.emit()">
  <img [src]="logoUrl" [alt]="storeName" class="loja-logo" />
  <div class="loja-info">
    <h4 class="loja-name" [title]="storeName">{{ storeName }}</h4>
    <div class="loja-stats">
      <span class="rating">
        <i class="fas fa-star"></i>
        {{ rating | number:'1.1-1' }}
      </span>
      <span class="dot">•</span>
      <span class="delivery-time">{{ deliveryTime }}</span>
      @if (deliveryFee !== undefined) {
        <span class="dot">•</span>
        <span class="delivery-fee">
          @if (deliveryFee === 0) {
            Grátis
          } @else {
            {{ deliveryFee | currency:'BRL':'symbol':'1.2-2' }}
          }
        </span>
      }
    </div>
  </div>
</div>
