@use '../../../../styles/mixins' as *;

//Estilização do login
.login-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

//Estilização do Background
.login-hero {
  position: relative;
  flex: 1;
  @include flex-between;
  padding: var(--spacing-lg);
  overflow: hidden;
  background: url('../../../../../public/assets/imagem/Adoption.jpg') center center / cover no-repeat;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(2.5px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

//Estilização do Header e do conteúdo da da página
.brand-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.brand-logo {
  width: 48px;
  height: 48px;
  border-radius: var(--radius-md);
  background: var(--surface-ground);
  padding: var(--spacing-xxs);
  object-fit: contain;
}

.brand-name {
  font-family: var(--font-family-primary);
  font-size: var(font-size-xxl);
  font-weight: var(--font-weight-semibold);
  color: var(--primary-color);
  line-height: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  max-width: 540px;
}

.hero-title {
  font-family: var(--font-family-primary);
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  color: var(--text-color-white);
  line-height: 1;
  margin: 0;
}

.hero-subtitle {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: rgba(255,255,255,0.8);
  line-height: 1;
  margin: 0;
}

.hero-pills {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px var(--spacing-sm);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--surface-ground);
  background: rgba(255,123,0,0.5);
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-max);
  line-height: 1;
  white-space: nowrap;
}

//Estilização do container do form

.login-form-side {
  @include flex-center;
  width: 460px;
  min-height: 100vh;
  padding: var(--spacing-lg) var(--spacing-md);
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-card {
  width: 100%;
  max-width: 395px;
  background: var(--surface-ground);
  border-radius: var(--radius-xxl);
  box-shadow: 4px 4px 25px rgba(0,0,0,0.37);
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
}

.card-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
