<p-dialog
  [(visible)]="visible"
  [header]="title"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: width }"
  [maskStyleClass]="backdropBlur ? 'myb-dialog-blur' : ''"
  appendTo="body"
  (onHide)="onHide()"
>
  <div class="myb-dialog">
    <ng-content />
  </div>

  <ng-template pTemplate="footer">
    @if (showFooter) {
      @if (cancelLabel) {
        <p-button
          [label]="cancelLabel"
          severity="secondary"
          [outlined]="true"
          (onClick)="onCancel()"
        ></p-button>
      }
      <p-button
        [label]="confirmLabel"
        [severity]="confirmSeverity"
        [loading]="loading"
        (onClick)="onConfirm()"
      ></p-button>
    }
  </ng-template>
</p-dialog>
