<div class="empty-state-container">
  <div class="empty-state-visual">
    <img *ngIf="imageUrl; else iconTpl" [src]="imageUrl" alt="Ilustração do Empty State" class="empty-state-image">
    <ng-template #iconTpl>
      <span *ngIf="icon" class="material-icons empty-state-icon">{{ icon }}</span>
    </ng-template>
  </div>
  
  <div class="empty-state-content">
    <h3 class="empty-state-title">{{ title }}</h3>
    <p *ngIf="description" class="empty-state-description">{{ description }}</p>
  </div>

  <button *ngIf="actionLabel" class="btn-primary empty-state-action" (click)="onActionClick()">
    {{ actionLabel }}
  </button>
</div>
