@use '../../../../styles/mixins' as *;

.empty-state-container {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  padding: var(--spacing-xxl) var(--spacing-md);
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

//Estilização do Ícone
.empty-state-visual {
  @include flex-center;
  margin-bottom: var(--spacing-lg);

  .empty-state-image {
    max-width: 200px;
    height: auto;
    object-fit: contain;
  }

  .empty-state-icon {
    font-size: calc(var(--font-size-xl) * 2.5);
    color: var(--border-color);
  }
}

.empty-state-content {
  margin-bottom: var(--spacing-lg);

  .empty-state-title {
    color: var(--text-color);
    margin-bottom: var(--spacing-xs);

    h3 {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-semibold);
    }
  }

  .empty-state-description {
    font-size: var(--font-size-md);
    color: var(--text-color-secondary);
    line-height: 145%;
    margin: 0;
  }
}

.empty-state-action {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  border-radius: var(--radius-max);

  padding:  var(--spacing-sm) var(--spacing-lg);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  cursor: pointer;
  box-shadow: var(--shadow-sm);

  transition: opacity 0.2s cubic-bezier(0.4,0,0.2,1), transform 0.1s cubic-bezier(0.4, 0, 0.2,1);

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.98);
  }
}
