@use '../../../../styles/mixins' as *;

:host {
  display: block;
  width: 100%;
}

.hero-container {
  width: 100%;
  min-height: 350px;
  padding: var(--spacing-lg) var(--spacing-md);
  box-sizing: border-box;
  @include flex-center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0px 4px 7.7px rgba(0,0,0,0.25);
  border-radius: 0 0 24px 24px;

  @include overlay(0.7);

  @include devices('tablet-md') {
    min-height: 438px;
    padding: var(--spacing-md) 50px;
    border-radius: 0 0 36px 36px;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  @include flex-column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.hero-kicker {
  margin: 0;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-semibold);
  font-size: clamp(20px, 4vw, 32px);
  line-height: 85%;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
}

.hero-title-wrapper {
  @include flex-column;
  gap: 0;
  width: 100%;
  max-width: 848px;
}

.hero-title {
  margin: 0;
  font-family: var(--font-family-secondary);
  font-size: var(--font-weight-bold);
  font-size: clamp(36px, 6vw, 64px);
  line-height: 145%;
  letter-spacing: -0.02em;
  color: var(--text-color-white);

  .highlight {
    @include text-highlight;
  }
}

.hero-subtitle {
  margin: 0;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: 145%;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
}