@use '../../../../styles/mixins' as *;

:host {
  display: contents;
}

:host ::ng-deep {
  .p-dialog-header {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    padding-bottom: var(--spacing-xs);
  }

  .p-dialog-content {
    padding-top: 2px !important;
    padding-bottom: var(--spacing-md);
  }

  .dialog-footer {
    @include flex-center;
    gap: var(--spacing-sm);
    padding-top: var(--spacing-xs);
  }
}

.myb-dialog {
  width: 100%;
}
