<p-dialog
  [(visible)]="visible"
  [header]="title"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: width }"
  (onHide)="onHide()"
>
  <div class="myb-dialog">
    <ng-content />
  </div>

  @if (showFooter) {
    <ng-templete pTemplate="footer">
      <div class="myb-footer-actions">
        <p-button [label]="cancelLabel" severity="secondary" outlined="true" onclick="oncancel()"></p-button>
        <p-button [label]="confirmLabel" [severity]="confirmSeverity" [loading]="loading" (onClick)="onConfirm()"></p-button>
      </div>
    </ng-templete>
  }
</p-dialog>
